<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__ADMIN__/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__ADMIN__/js/jquery.js"></script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
        </ul>
    </div>
    <div class="mainindex">
        <div class="welinfo">
            <span><img src="__ADMIN__/images/sun.png" alt="天气" /></span>
            <b>{$Think.session.name}
              <if condition=" date('H',time()) gt 4 && date('H',time()) lt 12 ">
                {//早上 05:00~11:59}
                早上好
              <elseif condition=" date('H',time()) gt 11 && date('H',time()) lt 18 "/>
                {//下午 12:00~17:59}
                下午好
              <elseif condition=" date('H',time()) gt 17 && date('H',time()) lt 24 "/>
                {//晚上 18:00~23:59}
                晚上好
              <else/>
                {//深夜 00:00~04:59}
                夜深了
              </if>
              ,欢迎使用商品管理系统</b>
            <a href="{:U('manager/changePwd')}">修改密码</a>
        </div>
        <div class="welinfo">
            <span><img src="__ADMIN__/images/time.png" alt="时间" /></span>
            <i>您上次登录的时间：{$Think.session.lastTime|date='Y-m-d H:i',###}</i>
        </div>
        <div class="xline"></div>
        <div class="box"></div>
        <div class="welinfo">
            <span><img src="__ADMIN__/images/dp.png" alt="提醒" /></span>
            <b>环境信息</b>
        </div>
        <ul class="infolist">
          {$Think.server.SERVER_SOFTWARE}
        </ul>
        <div class="xline"></div>
        <div class="uimakerinfo"><b>最新订单信息</b></div>
        <ul class="infolist">
            <li><a href="#">如何发布文章</a></li>
            <li><a href="#">如何访问网站</a></li>
            <li><a href="#">如何管理广告</a></li>
        </ul>
    </div>
</body>

</html>
